<app-song-summary-list></app-song-summary-list>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Blue Train by John Coltrane</h5>
    <h6 class="card-subtitle mb-2 text-muted">Song: Blue Train</h6>
    <p class="card-text">Blue Train is on the Album "Blue Train"</p>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Feelin' by Q-Tip</h5>
    <h6 class="card-subtitle mb-2 text-muted">Song: Blue Train</h6>
    <p class="card-text">Feelin' is on the Album "Kamaal the Abstract"</p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5 class="card-title">Pac-Man Fever by Buckner and Garcia</h5>
    <h6 class="card-subtitle mb-2 text-muted">Song: Pac-Man Fever</h6>
    <p class="card-text"><em>Unknown Album</em></p>
  </div>
</div>
